* {
  color: #333333;
}

/*label {*/
/*  color: #333333;*/
/*}*/

.button {
  color: #f4f4f4
}

.create-post {
  display: grid;
}

.gide-post {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*padding: 1em;*/
  border-radius: 2px;
  grid-gap: 1em;
  grid-template-rows: minmax(100px, auto) auto;
}

textarea {
  resize: none
}

.post-button {
  grid-column: 1/3;
}
