body {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: #f4f4f4;
}

.body {
  max-width: 1350px;
  margin: auto;
}


.button {
  background-color: #333333;
  color: #f4f4f4;
  border: none;
  padding: 10px 15px;
}
